#songdiv{
  font-family: 'Cinzel', serif;
  margin-top: 5px;
  margin:40px;
  border-radius: 70px 20px 140px 20px;
  background-color: green;
  background-image: url("gold.jpg");
}
#pointdiv{
  font-family: 'Cinzel', serif;
  font-size: 100px;
  float: right;

}
.pointdivcur{
  font-family: 'Cinzel', serif;
  font-size: 100px;
  float: right;
  border-radius: 70px 0px 0px 20px;
  background-image: url("gold.jpg");
  background-size: 940px 540px;
  background-position: -300px 500px;
  box-shadow: 0px 10px 5px #888888;
}
.pointdivfull{
  font-family: 'Cinzel', serif;
  font-size: 100px;
  float: right;
  border-radius: 0px 20px 140px 0px;
  background-image: url("gold.jpg");
  background-size: 940px 540px;
  background-position: -300px 500px;
  box-shadow: 10px 10px 5px #888888;
}
.first_wrapper {
  padding: 40px;
}

.point_radio {
  padding: 10px;
}

.point_button{
  margin: 5px;
}
#usr{
  padding: 10px;
}

#pointdiv>h1{
  font-size: 100px;
}
.pointdivcur>h1{
  font-size: 100px;
}
.glyphicon-ok{
  color: green;
  font-size: 25px;
}
.wrapper{
  padding: 10px;
  background-image: url('logo2.jpg');
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: 490px;
  background-position: fixed;
}

.otherInput{
  margin-top: 5px;
  margin-right: 20px;
}
