#songdiv{
  font-family: 'Cinzel', serif;
  background-color: cyan;
  margin: 100px;
}
#pointdiv{
  font-family: 'Cinzel', serif;
  font-size: 100px;
  float: right;
}
.pointdivcur{
  font-family: 'Cinzel', serif;
  font-size: 100px;
  float: right;
}
.first_wrapper {
  padding: 40px;
}

.point_radio {
  padding: 10px;
}

.songlist{
  border: #666 1px solid;
}

.point_button{
  margin: 5px;
}

#usr{
  padding: 10px;
}

#pointdiv>h1{
  font-size: 100px;
}
.pointdivcur>h1{
  font-size: 100px;
}
#apa{
  padding: 0;
  margin: 0;


.glyphicon-ok{
  color: green;
  font-size: 25px;
}
